<template>
    <div class="container">
    <!-- Page Content -->

      <!-- Page Heading -->
      <h3 class="my-4 text-warning">Discover
        <small class="text-danger">popular</small>
      </h3>

      <hr />

      <div class="row">
        <MovieCard v-for="moviePopular in popular" :key="moviePopular.id" :movie="{ show: moviePopular }" />
      </div>
      <!-- /.row -->

      <!-- Page Heading -->
      <h3 class="my-4 text-warning">Discover
        <small class="text-danger">new</small>
      </h3>

      <hr />

      <div class="row">
        <MovieCard v-for="movieNew in newMovies" :key="movieNew.id" :movie="{ show: movieNew }" />
      </div>
      <!-- /.row -->

    <!-- /.container -->
    </div>
</template>

<script>
import $ from 'jQuery'
import MovieCard from '@/components/MovieCard'

export default {
  name: 'Discover',
  components: { MovieCard },
  mounted () {
    let $self = this
    $.get('http://api.tvmaze.com/shows', function (data) {
      $self.popular = data.slice().sort((a, b) => {
        return parseFloat(b.rating.average) - parseFloat(a.rating.average)
      }).slice(0, 8)
      $self.newMovies = data.slice().sort((a, b) => {
        return new Date(b.updated) - new Date(a.updated)
      }).slice(0, 8)
    })
  },
  data () {
    return {
      popular: [],
      newMovies: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
