<template>
    <div class="container">
    <!-- Page Content -->

      <!-- Page Heading -->
      <h3 class="my-4 text-warning">History
        <small class="text-danger"></small>
      </h3>

      <hr />

      <div class="row">
        <MovieCard v-for="movieHistory in history" :key="movieHistory.id" :movie="{ show: movieHistory }" />
      </div>
      <!-- /.row -->

    <!-- /.container -->
    </div>
</template>

<script>
import MovieCard from '@/components/MovieCard'
import $ from 'jQuery'

export default {
  name: 'History',
  components: { MovieCard },
  mounted () {
    let $self = this
    $.get('http://api.tvmaze.com/shows', function (data) {
      $self.history = data.slice().slice(0, 16)
    })
  },
  data () {
    return {
      history: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
