<template>
  <div>
    <!-- Page Heading -->
    <h3 class="my-4 text-warning">Movie
        <small class="text-danger">{{ movie.name }}</small>
    </h3>
    <hr />
    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-4">
        <router-link :to="'/movie/' + movie.id + '/play'">
          <img class="rounded mx-auto d-block" :src="movie.image.medium" :alt="movie.name">
        </router-link>
        <h4 class="my-4 text-warning">Details</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Rating:</strong> {{ parseFloat(movie.rating.average) }}
          </li>
          <li class="list-group-item">
            <strong>Network:</strong> {{ movie.network.name }}
          </li>
          <li class="list-group-item">
            <strong>Country:</strong> {{ movie.network.country.name }}
          </li>
          <li class="list-group-item">
            <strong>IMDB:</strong> {{ movie.externals.imdb }}
          </li>
          <li class="list-group-item">
            <strong>Premiered:</strong> {{ movie.premiered }}
          </li>
          <li class="list-group-item">
            <strong>Duration:</strong> {{ movie.runtime }}
          </li>
          <li class="list-group-item">
            <strong>Language:</strong> {{ movie.language }}
          </li>
        </ul>
      </div>

      <div class="col-md-8">
        <h4 class="my-4 text-warning">Summary
          <small class="text-danger" v-for="(genre, index) in movie.genres" :key="index">{{ genre }} / </small>
        </h4>
        <p v-html="movie.summary" class="text-light"></p>
        <router-link :to="'/movie/' + movie.id + '/play'" tag="button" class="btn btn-sm btn-danger float-right w-100">
          <span class="fa fa-play"></span>

        </router-link>
      </div>

    </div>
    <!-- /.row -->
  </div>
</template>

<script>
import $ from 'jQuery'

export default {
  name: 'Movie',
  data () {
    return {
      movie: {}
    }
  },
  mounted () {
    let movieId = this.$route.params.id
    let $self = this
    $.get('http://api.tvmaze.com/shows/' + movieId, function (data) {
      console.log(data)
      $self.movie = data
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
