<template>
  <div>
    <!-- Page Heading -->
    <h3 class="my-4 text-warning">Play
        <small class="text-danger">{{ movie.name }}</small>
    </h3>
    <hr />
    <VideoPlayer :movie="movie" />
    <hr />
    <VideoDetails :movie="movie" />
  </div>
</template>

<script>
import $ from 'jQuery'
import VideoPlayer from '@/components/VideoPlayer'
import VideoDetails from '@/components/MovieDetails'

export default {
  name: 'Play',
  components: { VideoPlayer, VideoDetails },
  data () {
    return {
      movie: {
        video: {
          ogg: 'http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv',
          m4v: 'http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v',
          poster: 'http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png',
          sub: 'captions/vtt/sintel-en.vtt'
        }
      }
    }
  },
  mounted () {
    let movieId = this.$route.params.id
    let $self = this
    $.get('http://api.tvmaze.com/shows/' + movieId, function (data) {
      $self.movie = { ...data } // = data
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
