<template>
    <div class="container">
    <!-- Page Content -->

        <!-- Page Heading -->
        <h3 class="my-4 text-warning">Search
            <small class="text-danger" v-if="$route.query.q">&raquo; {{ $route.query.q }} &laquo;</small>
        </h3>

        <hr />

        <div class="row">
            <MovieCard v-for="movie in results" :key="movie.show.id" :movie="movie" />
        </div>
        <!-- /.row -->

    <!-- /.container -->
    </div>
</template>

<script>
import $ from 'jQuery'
import MovieCard from '@/components/MovieCard'

export default {
  name: 'Search',
  components: {
    MovieCard
  },
  methods: {
    doSearch () {
      let $self = this
      $.get(`http://api.tvmaze.com/search/shows?q=${$self.$route.query.q}`, function (data) {
        $self.results = data
      })
    }
  },
  watch: {
    '$route.query.q' () {
      this.doSearch()
    }
  },
  mounted () {
    this.doSearch()
  },
  data () {
    return {
      results: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
