<template>
  <section class="row">
    <div class="col-8">
      <h3 class="my-4 text-warning">Summary
        <small v-for="(genre, index) in movie.genres" :key="index" class="text-danger">{{ genre }} / </small>
      </h3>
      <p v-html="movie.summary" class="text-white"></p>
    </div>
    <div class="col-4">
      <h4 class="my-4 text-warning">Details</h4>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Rating:</strong> {{ parseFloat(movie.rating.average) }}
          </li>
          <li class="list-group-item">
            <strong>Network:</strong> {{ movie.network.name }}
          </li>
          <li class="list-group-item">
            <strong>Country:</strong> {{ movie.network.country.name }}
          </li>
          <li class="list-group-item">
            <strong>IMDB:</strong> {{ movie.externals.imdb }}
          </li>
          <li class="list-group-item">
            <strong>Premiered:</strong> {{ movie.premiered }}
          </li>
          <li class="list-group-item">
            <strong>Duration:</strong> {{ movie.runtime }}
          </li>
          <li class="list-group-item">
            <strong>Language:</strong> {{ movie.language }}
          </li>
        </ul>
    </div>
  </section>
</template>

<script>
export default {
  props: ['movie']
}
</script>
