<template>
    <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
        <div class="card h-100">
            <router-link :to="'/movie/' + movie.show.id" tag="a"><img class="card-img-top" :src="movie.show.image.medium" :alt="movie.name" /></router-link>
            <div class="btn-group float-right absolute" role="group" aria-label="Actions">
                <router-link :to="'/movie/' + movie.show.id" tag="button" class="btn btn-sm btn-danger" title="rating">
                  {{ parseFloat(movie.show.rating.average) }}
                  <span class="fa fa-thumbs-up"></span>
                </router-link>
            </div>
            <div class="btn-group absolute" role="group" aria-label="Actions">
                <router-link :to="'/movie/' + movie.show.id + '/play'" tag="button" class="btn btn-sm btn-danger" title="play">
                  <span class="fa fa-play"></span>
                </router-link>
                <router-link :to="'/movie/' + movie.show.id" tag="button" class="btn btn-sm btn-danger" title="info">
                  <span class="fa fa-info"></span>
                </router-link>
            </div>
            <div class="card-footer text-center">
                <router-link :to="'/movie/' + movie.show.id" tag="a" class="btn btn-lg text-danger" :title="movie.show.name + ' - ' + year">
                  <span class="fa fa-film"></span>
                  {{ movie.show.name }} &rarr; {{ year }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'MovieCard',
  props: ['movie'],
  computed: {
    year () {
      return this.movie.show.premiered.slice(0, 4)
    }
  }
}
</script>

<style>
.absolute {
  position: absolute;
  top: 0;
}
.float-right {
  right: 0;
}
</style>
