<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
          <img class="navbar-brand" src="@/assets/madafaka.logo.png" width="170" alt="MadafakaFLIX">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <router-link tag="li" to="/" class="nav-item" exact-active-class="active" exact>
                    <a class="nav-link">Discover <span class="sr-only">(current)</span></a>
                </router-link>
                <router-link tag="li" to="/history" class="nav-item" exact-active-class="active" exact>
                    <a class="nav-link">History</a>
                </router-link>
            </ul>
            <form class="mx-2 my-auto d-inline w-100">
              <div class="input-group">
                  <input class="form-control py-2 bg-dark text-light" type="search" placeholder="Search" aria-label="Search" v-model="search">
                  <span class="input-group-append">
                    <button class="btn btn-danger" type="submit" @click.stop.prevent="submit()">
                        <i class="fa fa-search"></i>
                    </button>
                  </span>
              </div>
            </form>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {
      search: null
    }
  },
  methods: {
    submit () {
      this.$router.push(`/search?q=${this.search}`)
    }
  }
}
</script>
