<template>
<div id="videoPlayer" class="col-12 text-center">

    <video id="video" controls preload="metadata" :poster="movie.video.poster">
        <source :src="movie.video.m4v" type="video/mp4">
        <source :src="movie.video.ogv" type="video/ogv">
        <track label="English" kind="subtitles" srclang="en" :src="movie.video.sub" default>
    </video>

</div>
</template>

<script>
export default {
  props: ['movie']
}
</script>

<style>
.controls button[data-state='subtitles'] {
  height: 85%;
  text-indent: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  background: #000;
  border-radius: 2px;
}
</style>
