<template>
  <div id="app">
    <Navigation />
    <main role="main" class="container-fluid margin-top bg-dark">
      <router-view/>
    </main><!-- /.container -->
  </div>
</template>

<script>
import Navigation from '@/components/Nav'

export default {
  name: 'App',
  components: {
    Navigation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #333;
  margin-top: 60px;
}
.portfolio-item {
  margin-bottom: 30px;
}
.margin-top {
  margin-top: 9%;
}
small.text-danger {
  font-size: 12px;
  font-weight: bold;
}
.card-footer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
hr {
  color: yellow; /*--danger;-*/
}
</style>
